<!DOCTYPE html>
{% extends 'admin/back_base.html' %}
{% block content %}

<main>

    <!-- User gride -->
    <section>     
        <table>
            <thead>
                <th>Name</th>
                <th>Roles</th>
                <th>Publication count</th>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user['name']}}</td>
                    <td>
                        <form action="{{url_for('update_role', user_id=user['_id'])}}" method="POST">
                            <select name="role" onchange="return confirm('Change this role?'), this.form.submit()">
                                <option value="user" {% if user['role'] == 'user' %} selected {% endif %}>User</option>
                                <option value="admin" {% if user['role'] == 'admin' %} selected {% endif %}>Admin</option>
                            </select>
                        </form>
                    </td>
                    <td>
                        <p>{{user['post']|length}}</p>
                    </td>
                    <td>
                        <a href="{{url_for('show_user', user_id=user['_id'])}}">Watch</a>
                    </td>
                    <td>
                        <a href="{{url_for('admin_delete_user', user_id=user['_id'])}}" onclick="return confirm('Delete this user?')">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <!-- Chart gride -->
    <section>
        <table>
            <thead>
                <tr>
                    <th rowspan="2">Chart</th>
                    <th rowspan="2">Title</th>
                    <th rowspan="2">Author</th>
                    <th colspan="4">Report</th>
                </tr>
                <tr>
                    <th>Spam / Misleading</th>
                    <th>Sexual</th>
                    <th>Abject</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for chart in charts %}
                <tr>
                    <td><div class="chart-container"><canvas class="chart" data-config='{{ chart["config"]|tojson }}'></canvas></div></td>
                    <td>{{chart['title']}}</td>
                    <td>{{chart['author_name']}}</td>
                    <td>{{ chart['report']|selectattr('reason', 'equalto', 'spam-misleading-content')|list|length }}</td>
                    <td>{{ chart['report']|selectattr('reason', 'equalto', 'sexual-content')|list|length }}</td>
                    <td>{{ chart['report']|selectattr('reason', 'equalto', 'abject-content')|list|length }}</td>
                    <td>{{ chart['report']|list|length }}</td>
                    <td>
                        <a href="{{url_for('watch_chart', id=chart['_id'])}}">Watch</a>
                    </td>
                    <td>
                        <a href="{{url_for('clear_report', chart_id=chart['_id'])}}">Clear report</a>
                    </td>
                    <td>
                        <a href="{{url_for('admin_delete_chart', chart_id=chart['_id'])}}" onclick="return confirm('Delete this chart?')">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>

{% endblock %}
