<!DOCTYPE html>
{% extends 'admin/back_base.html' %}
{% block content %}

<main>

    <!-- User gride -->
    <section>     
        <table>
            <thead>
                <th>Name</th>
                <th>Roles</th>
                <th>Publication count</th>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user['name']}}</td>
                    <td>
                        <form action="{{url_for('update_role', user_id=user['_id'])}}" method="POST">
                            <select name="role" onchange="return confirm('Change this role?'), this.form.submit()">
                                <option value="user" {% if user['role'] == 'user' %} selected {% endif %}>User</option>
                                <option value="admin" {% if user['role'] == 'admin' %} selected {% endif %}>Admin</option>
                            </select>
                        </form>
                    </td>
                    <td>
                        <p>{{user['publication_count']}}</p>
                    </td>
                    <td>
                        <a href="{{url_for('show_user', user_id=user['_id'])}}">Watch</a>
                    </td>
                    <td>
                        <a href="{{url_for('delete_user', user_id=user['_id'])}}" onclick="return confirm('Delete this user?')">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <!-- Chart gride -->
    <section>
        <table>
            <thead>
                <th>Title</th>
                <th>Author</th>
            </thead>
            <tbody>
                {% for chart in charts %}
                <tr>
                    <td>{{chart['title']}}</td>
                    <td>{{(users|selectattr("_id", "equalto", chart['author'])|first)['name']}}</td>
                    <td>
                        <a href="{{url_for('watch_chart', id=chart['_id'])}}">Watch</a>
                    </td>
                    <td>
                        <a href="{{url_for('delete_chart', chart_id=chart['_id'])}}" onclick="return confirm('Delete this chart?')">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>

{% endblock %}
