<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/numbro@2.5.0/dist/numbro.min.js"></script>
    <script src="../../static/module/papaparse.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script defer src="{{ url_for('static', filename='script.js')}}"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <div class="topbar">
            <a href="/" class="text-2xl">Oplot</a>
        
            <form action="/search" method="get" class="">
                <input type="text" name="q" placeholder="Recherche" class="">
                <button type="submit" class="">🔎</button>
            </form>

            <nav>
                {% if session['user'] %}
                    <li><a href="/manage_account"><img src="https://api.dicebear.com/10.x/identicon/svg?seed={{session['user']}}" alt="Manage Account" class="subscription-picture" width="20" height="20"></a></li>
                {% else %}
                    <li><a href="/signup">Sign up</a></li>
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </nav>
        </div>
       
        <ul class="sidebar">
            <li><a href="/">Home</a></li>
            <li><a href="/">For you</a></li>
            <li><a href="/">Trending</a></li>
            {% if session['user'] %}
                <li><a href="/subscritpions">Subscritpions</a></li>
                <li><a href="/chart/add">Upload</a></li>
                
                {% if session['role'] == 'admin' %}
                    <li class="bg-red-500"><a href="/admin">Admin</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </header>


    <div class="main">
        <section>
            {% if error %}
            <p class="error-message">{{error}}</p>
            {% endif %}
        </section>
        {% block content %}
        {% endblock %}
    </div>

    <footer>

    </footer>
</body>
</html>