<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <script defer src="../../static/script.js"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <ul class="sidebar">
            <li><a href="/">Home</a></li>
            <li><a href="/">For you</a></li>
            <li><a href="/">Trending</a></li>
            <li><a href="/">Subscriptions</a></li>
            <li><a href="/">Upload</a></li>
            <li><a href="/">Login</a></li>
        </ul>
    </header>


    <div class="main">
        {% block content %}
        {% endblock %}
    </div>

    <footer>

    </footer>
</body>
</html>