<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <script defer src="../../static/script.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Menu</a></li>
            <li><a href="/">Menu</a></li>
            <li><a href="/">Menu</a></li>
            <li><a href="/">Menu</a></li>
            <li><a href="/">Menu</a></li>
        </ul>
    </header>


    <div class="main">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean turpis nisl, dignissim non quam eleifend, convallis iaculis magna. Maecenas vehicula mattis luctus. Ut in tempor risus, a tempor ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare eget lacus vel vulputate. Mauris interdum egestas lorem, quis placerat sem finibus at. Vestibulum ligula velit, auctor sit amet nulla tristique, congue ullamcorper libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Mauris vulputate porta dolor, a feugiat lorem lobortis eget. Sed eu cursus metus. Sed sit amet lobortis turpis. Aliquam ornare gravida velit. Aenean malesuada, felis ut ornare egestas, velit eros tincidunt urna, vel laoreet sem risus id est. Ut ac rhoncus tortor. Nunc et urna eu dui faucibus porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sit amet neque velit. Mauris efficitur consequat augue eget congue. Proin lobortis efficitur vehicula. Phasellus iaculis odio quis viverra consectetur. In hac habitasse platea dictumst. Quisque ut turpis magna. Aenean malesuada ante sed odio rhoncus tristique.
        Mauris faucibus nulla ut lorem mattis, vel dictum nisi dignissim. Aliquam porta felis a lectus rhoncus pharetra. Praesent luctus volutpat tempus. Nam maximus est quis nisi scelerisque, ut ullamcorper eros cursus. Nulla nec turpis imperdiet, congue metus nec, volutpat metus. Quisque sit amet ipsum eu dolor vehicula dictum. In faucibus aliquam purus eget fermentum. Vestibulum odio mi, blandit in arcu ut, malesuada vehicula lacus. Maecenas gravida eros sit amet ornare mollis. Aenean iaculis aliquet lorem quis gravida. Duis mollis pulvinar lectus in luctus. Suspendisse mollis erat id sollicitudin vestibulum. Mauris pharetra, mauris eget pulvinar fermentum, nulla purus feugiat dui, quis egestas orci est quis neque. Vestibulum a porta odio, non dictum turpis. Fusce elit dolor, suscipit eu diam vitae, posuere dignissim dui.
        Quisque ac lobortis sapien. Phasellus convallis, quam eget feugiat gravida, justo nisi aliquet nunc, et cursus nulla felis vitae ante. Nullam vel commodo lacus. Quisque pellentesque lorem sapien, vehicula interdum elit pulvinar in. Etiam scelerisque vel velit vel maximus. Donec tempus gravida mauris ac faucibus. Morbi at turpis eu libero viverra mattis. Phasellus ac mi commodo, elementum ipsum vitae, aliquet libero. Maecenas pulvinar mauris volutpat pretium ornare. Cras pellentesque turpis vel eleifend pharetra. Maecenas vel tortor et diam lobortis rhoncus. Nulla egestas cursus ipsum, non ornare nunc efficitur in. Maecenas consectetur in est eget bibendum. Donec purus purus, elementum at nulla eget, sagittis porttitor mauris. Curabitur sed nulla ac mi ultrices porta.
        Pellentesque vulputate semper nulla et egestas. Nullam nec consectetur eros. Vestibulum congue arcu vitae urna consectetur, eu laoreet elit venenatis. Donec bibendum justo ut tellus finibus volutpat. Phasellus in elit massa. Etiam ornare nulla sed turpis pretium aliquam. Maecenas sit amet turpis ut est tincidunt vehicula. Duis mollis rutrum lacus, id porta magna cursus ac.</p>
        {% block content %}
        {% endblock %}
    </div>

    <footer>

    </footer>
</body>
</html>