<!DOCTYPE html>

{% extends 'front/base.html' %}
{% block content %}
{% if error %}
    <p class="error-message">Error: {{error}}</p>
{% endif %}
    <ul>
        <li><a href="{{ url_for('watch_user', user_id=chart['author']) }}">Channel</a></li>
        <li><a href="https://{{chart['source']}}">Source</a></li>
        <li><button class="button" onclick="openModal('reportModal')">Report</button></li>
    </ul>

    <div class="view-chart-container"><canvas class="chart" data-config='{{ chart["config"]|tojson }}'></canvas></div>
    
    <div>
            <div class="chart-author">
                <img src="https://api.dicebear.com/10.x/identicon/svg?seed={{chart['author_name']}}" alt="" class="subscription-picture" width="20" height="20">
                <h3 class="chart-author-name">
                    <a href="{{ url_for('watch_user', user_id=chart['author']) }}">
                        {{chart['author_name']}}
                    </a>
                </h3>
                {% if is_subscribe %}
                    <button id="subscribe-button" class="button" target-id="{{ chart['author'] }}">
                        Unsubscribe
                    </button>
                {% elif session['user']%}
                    <button id="subscribe-button" class="button acsent" target-id="{{ chart['author'] }}">
                        Subscribe
                    </button>
                {% else %}
                    <button id="subscribe-button" class="button acsent" onclick="openModal('registerModal')">
                        Subscribe
                    </button>
                {% endif %}
            </div>
        
        <h1 class="mt-3 text-lg/6 font-semibold">{{chart['title']}}</h1>
        <p>{{chart['description']}}</p>
        <a href="https://{{chart['source']}}">Source</a>
    </div>

    <div id="reportModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Report this content</h3>
            <form method="POST" action="{% if session['user'] %} {{url_for('report')}} {% else %} openModal('registerModal') {% endif %}">
                <div>
                    <label>Sexual content</label>
                    <input type="radio" id="sexual" name="reason" value="sexual-content">
                </div>
                <div>
                    <label>Abject content</label>
                    <input type="radio" id="abject" name="reason" value="abject-content">
                </div>
                <div>
                    <label>Spam or misleading content</label>
                    <input type="radio" id="spam" name="reason" value="spam-misleading-content">
                </div>
                <input type="hidden" name="chart_id" value="{{ chart['_id'] }}" required>
                <div>
                    <button type="submit" class="button acsent">Report</button>
                </div>
                <div>
                    <button type="button" class="button acsent" onclick="closeModal('reportModal')">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <div id="registerModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>You should be login to do this action</h3>
            <a class="button" href="/signup">Sign up</a>
            <a class="button" href="/login">Login</a>
            <button type="button" onclick="closeModal('registerModal')">Cancel</button>
        </div>
    </div>
    
{% endblock %}