<!DOCTYPE html>
{% extends 'front/base.html' %}
{% block content %}

<main>
    <h1>{{user['name']}}</h1>
    <h2>{{ user['subscribers']|length }}</h2>
    <a href="/logout">Logout</a>
    <a href="/delete_account" onclick="return confirm('Delete account?')">Delete Account</a>
    <p>Publications:</p>
    <section class="chart-gride">
        {% for chart in user['publications'] %}
        <article class="chart-card">
            <div class="chart-container"><canvas class="chart" data-config='{{ chart["config"]|tojson }}'></canvas></div>
            <h3 class="chart-title">
                <a href="{{ url_for('watch_chart', id=chart['_id']) }}">
                    {{chart['title']}}
                </a>
            </h3>
            <ul class="tag-list">
                {% for tag in chart['tags'] %}
                <li class="">{{tag}}</li>
                {% endfor %}
            </ul>
            <p class="description">{{chart['description']}}</p>

            <p class="author">{{chart['author_name']}}</p>

            <a class="delete-button" href="{{url_for('user_delete_chart', chart_id=chart['_id'])}}" onclick="return confirm('Delete this chart?')">Delete</a>
        </article>
        {% endfor %}

    </section>
</main>

{% endblock %}
