<!DOCTYPE html>

{% extends 'front/base.html' %}
{% block content %}
<main>
    <h1>New chart</h1>
    <canvas class="new_chart"></canvas>
    <form method="POST" action="{{url_for('creat_chart')}}" enctype="multipart/form-data" onsubmit="serializeAndSubmit(event)">
        <div>
            <label>Title</label>
            <input type="text" name="title" required placeholder="Chart title">
        </div>

        <div>
            <label>Description</label>
            <textarea name="description" required placeholder="Chart description"></textarea>
        </div>

        <div>
            <label>Source</label>
            <input type="url" name="source" required placeholder="Chart data source">
        </div>

        <div>
            <label>Type</label>
            <select type="text" name="chart_type" id="chart_type" onchange="updateChart()" required placeholder="Chart type">
                <option value="bar">Bar</option>
                <option value="pie">Pie</option>
            </select>
        </div>

        <div>
            <label>Caption</label>
            <input type="text" name="caption" id="caption" onchange="updateChart()" required placeholder="Chart caption">
        </div>

        <div id="new_chart_data_rows" onchange="updateChart()"></div>
        <button type="button" onclick="addRow()">+ Add</button>
        <input type="hidden" name="data" id="new_chart_data" required>

        <button type="submit">Publish your chart</button>
    </form>
</main>
{% endblock %}