<!DOCTYPE html>

{% extends 'front/base.html' %}
{% block content %}
{% if error %}
    <p class="error-message">Error: {{error}}</p>
{% endif %}

<main>
    {% if subscriptions|length == 0 %}
        <p>No subscription found</p>
    {% endif %}
    
    <section class="subscritpions-gallery" >
        {% for subscription in subscriptions %}
        <article class="subscription-card">
            <img src="https://api.dicebear.com/10.x/identicon/svg?seed={{subscription['name']}}" alt="" class="subscription-picture" width="100" height="100">
            <h3 class="subscription-name">
                <a href="{{ url_for('watch_user', user_id=subscription['_id']) }}">
                    {{subscription['name']}}
                </a>
            </h3>
        </article>
        {% endfor %}
    </section>
    <section class="chart-gride">

        {% for chart in charts %}
        <article class="chart-card">
            <div class="chart-container"><canvas class="chart" data-config='{{ chart["config"]|tojson }}'></canvas></div>
            <h3 class="chart-title">
                <a href="{{ url_for('watch_chart', id=chart['_id']) }}">
                    {{chart['title']}}
                </a>
            </h3>
            <ul class="tag-list">
                {% for tag in chart['tags'] %}
                <li class="">{{tag}}</li>
                {% endfor %}
            </ul>
            <p class="description">{{chart['description']}}</p>

            <p class="author">{{chart['author_name']}}</p>
        </article>
        {% endfor %}

    </section>
</main>

{% endblock %}
