<!DOCTYPE html>
{% extends 'front/base.html' %}
{% block content %}

<main>
    <img src="https://api.dicebear.com/10.x/identicon/svg?seed={{user['name']}}" alt="" class="subscription-picture" width="100" height="100">
    <h1>{{user['name']}}</h1>
    {% if is_subscribe %}
        <button id="button" target-id="{{ user['_id'] }}">
            Unsubscribe
        </button>
    {% else %}
        <button id="button" class="button acsent" target-id="{{ user['_id'] }}">
            Subscribe
        </button>
    {% endif %}
    <p>Publications: {{ user['subscribers']|length }}</p>
    <section class="grid grid-flow-row grid-cols-4 gap-5 p-5">
        {% for chart in user['publications'] %}
        <article class="chart-card">
            <div class="chart-container"><canvas class="chart" data-config='{{ chart["config"]|tojson }}'></canvas></div>
            <h3 class="chart-title">
                <a href="{{ url_for('watch_chart', id=chart['_id']) }}">
                    {{chart['title']}}
                </a>
            </h3>
            <ul class="tag-list">
                {% for tag in chart['tags'] %}
                <li class="">{{tag}}</li>
                {% endfor %}
            </ul>
            <p class="description">{{chart['description']}}</p>

            <p class="author">{{chart['author_name']}}</p>
        </article>
        {% endfor %}

    </section>
</main>

{% endblock %}
