header.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  padding-top: 20px;
}


header.sidebar li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.sidenav li a:hover {
  color: #555555;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}