.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #219ebc;
  overflow-x: hidden;
  padding-top: 20px;
}


.sidebar li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.sidebar li a:hover {
  color: #555555;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

.index-chart-container {
  width: 20em;
}

.view-chart-container {
  width: 90em;
}

.new-chart-container {
  width: 75em;
}