<!DOCTYPE html>

{% extends 'front/base.html' %}
{% block content %}

<main>   
    <section class="chart-gride">

        {% for chart in charts %}
        <article class="chart-card">
            <div class="chart-container"><canvas class="chart" data-config='{{ chart["config"]|tojson }}'></canvas></div>
            <h3 class="chart-title">
                <a href="{{ url_for('watch_chart', id=chart['_id']) }}">
                    {{chart['title']}}
                </a>
            </h3>
            <ul class="tag-list">
                {% for tag in chart['tags'] %}
                <li class="">{{tag}}</li>
                {% endfor %}
            </ul>
            <p class="description">{{chart['description']}}</p>
            <div class="author">
                <img src="https://api.dicebear.com/10.x/identicon/svg?seed={{chart['author_name']}}" alt="" class="subscription-picture" width="20" height="20">
                <p class="author-name">
                    <a href="{{ url_for('watch_user', user_id=chart['author']) }}">
                        {{chart['author_name']}}
                    </a>
                </p>
            </div>
            
        </article>
        {% endfor %}

    </section>
</main>

{% endblock %}
